/*cores {
  --verde-escuro: #4D7033;
  --verde-claro: #E5F0B3;
  --amarelo-claro: #FCFCE4;
  --roxo-claro: #BCA7D9;
}*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

p{
  text-indent: 1rem; 
  margin-bottom: 0.5rem;
  font-size: 1.2rem;

}

body {
    font-family: "Nunito Sans", sans-serif;
    height: 100%;
    width: 100%;
    background-color: white;
    display: grid;
    gap: 5vh;  
    
}

h1 {
  font-size: 1.5rem;      
  font-weight: bold;

}


main {
  display: grid;
  gap: 5vh;
}

#containerVilaLobos,
#containerCEAPAM {
  margin-top: -5vh; 
}


#containerGestao {
  padding: 2rem; 
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem; 
}


#containerGestao2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5vh;
  padding: 5vh;

}

#containerGestao2 > div {
  font-size: 1.2rem;
  padding: 3rem;
  border-radius: 20px;
  background-color: #FCFCE4;
  border: 2px solid #DDE0B4; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

#containerGestao2 > div p {
  text-indent: 1rem; 
  margin-bottom: 0.5rem;

}

#containerHistoria{        
    display: flex;
    flex-direction: column;
    gap: 2svh;
    padding: 5vh;
    background-color: #E5F0B3;
    font-size: 1.5rem;
}

#containerHistoria .grid-imagens img:hover {
  transform: scale(1.05);
}
#containerCEAPAM .grid-imagens img:hover {
  transform: scale(1.05);
}
#containerVilaLobos .grid-imagens img:hover {
  transform: scale(1.05);
}

#containerVilaLobos{        
    display: flex;
    flex-direction: column;
    gap: 2svh;
    padding: 5vh;
    background-color: #FCFCE4;
    font-size: 1.5rem;
   max-height: max-content;
}

#containerVilaLobos2{        
    display: flex;
    flex-direction: column;
    gap: 2svh;
    padding: 5vh;
    background-color: #FCFCE4;
    font-size: 1.5rem;
}


#containerCEAPAM{  
      
    display: flex;
    flex-direction: column;
    gap: 2svh;
    padding: 5vh;
    background-color: #E5F0B3;
    font-size: 1.5rem;
}

#containerCEAPAM ul {
  padding: 25px;
  font-size: 1.3rem;
  margin: 0 auto;
  list-style-position: inside; 
  max-width: 600px; 
  text-align: left; 
  border-radius: 20px;
  border: 2px solid #DDE0B4; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  background-color: #FCFCE4;
}

#containerCEAPAM  h4 {
text-align: center;
}


/* imagens*/

.grid-imagens {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
  flex-wrap: wrap;
}

 .grid-imagens img {
  width: 250px;
  height: 250px;
  border-radius: 30px;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  background-color: rgb(255, 255, 255);
}
footer{
   margin-top: -5vh; 
}







 



