footer {
  background-color: #4B7736;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2vh;
  padding: 1vh;
}

.imgs {
  display: flex;
  gap: .5vh;
  align-items: center;
  width: 100%;
}

.imgs img {
  height: auto;
  width: 100%;
}

footer .imgs hr {
  width: 2px;
  height: 70%;
  background-color: rgb(255, 255, 255);
}

.textos {
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 1.5vw;
}

.links {
  display: flex;
  justify-content: center;
  padding: 0;  
}

.links .card {
  width: auto;
  height: auto;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  
}

footer .links .socialContainer {
  width: 5dvh;
  height: 5dvh;

  border-radius: 50%;
  background-color: #AD97C7;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 1s;
}

footer .links .containerOne:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
}

footer .links .containerTwo:hover {
  background-color: #00acee;
  transition-duration: 0.3s;
}

footer .links .containerThree:hover {
  background-color: #0072b1;
  transition-duration: 0.3s;
}

footer .links .containerFour:hover {
  background-color: green;
  transition-duration: 0.3s;
}

footer .links .socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

footer .links .socialSvg {
  width: 17px;
}

footer .links .socialSvg path {
  fill: #fff;
}

footer .links .socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
