@media only screen and (max-width: 1000px){
    body {
        width: 100%;
    }

    main {
        grid-template-rows: 10% 10% 10% 1fr 10%;
        gap: 5dvh;
    }

    #conteinerNos h2{
        margin-left: 1dvh;
        padding: 1dvh;
    }

    #conteinerNos{ 
        padding: 2dvh;
    }

    /* footer */
    footer {
        grid-template-rows: 1fr .5fr 1fr;
    }

    .links {
        justify-content: center;
        gap: 1dvh;
    }

    footer .links .socialContainer {
        width: 3dvh;
        height: 3dvh;
    }

    .textos {
        flex-wrap: wrap;
    }

    /* cards */
     #cards {       
        padding: 3dvh;
        gap: 2dvh;
        flex-direction: column;
    } 
    
    .card {
        width: 100%;  
    }

    /* Carrosel */
    #conteinerConheca {       
        padding: 0vh;
    }
    
    .conhecaInside {
        padding: 0;
        grid-template-rows: 4fr 1fr;
    }

    .btnArrow {
       display: none;
    }

    .btnCarrossel {
       padding: 1dvh;
       justify-content: center;
       background-color: green;
       color: white
    }

    .entireCarrossel {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 1dvh;
    }

    .conhecaLeft {
        width: 50%;
        text-align: center;
        flex: 1;
        align-items: center;
        padding-left: 2dvh;
        padding-right: 2dvh;
    }

    .footCarrossel {
        align-items: start;
    }
  
    .conhecaRight {
        flex: 2;      
    }

    .carrossel img{
        width: 70% !important;
    }

    #conteinerParceiros {   
        padding: 2dvh;
    }
    #conteinerFinanciadores {   
        padding: 2dvh;
    }    

    /* .mainCarrossel section {
        height: 70%;
    } */

    .section-i {
        display: none;
    }
    .footCarrossel label {
        width: 2dvh;
        height: 2dvh;
    }
}

@media (max-width: 500px){
  
    main {
        grid-template-rows: 8% 8% 10% 2fr 10%;
    }

    #conteinerConheca {        
       /* background-color: gray; */
    }

     .conhecaInside {
        height: 100%;
        padding-bottom: 5vh;
    }

    .carrossel img{
        width: 75% !important;
    }

    .footCarrossel label {
        width: 1dvh;
        height: 1dvh;
    }
}