@media only screen and (max-width: 1000px){
    body {
        width: 100%;
    }

    main {
        grid-template-rows: 1fr 1fr 1fr 3fr 1fr;
        background-color: pink;
    }

    #conteinerNos h2{
        margin-left: 1dvh;
        padding: 1dvh;
    }

    #conteinerNos{ 
        padding: 2dvh;
    }


    /* footer */
    footer {
        grid-template-rows: 1fr .5fr 1fr;
    }

    .links {
        justify-content: center;
        gap: 1dvh;
    }

    footer .links .socialContainer {
        width: 3dvh;
        height: 3dvh;
    }

    .textos {
        flex-wrap: wrap;
    }

    /* cards */
     #cards {       
        padding: 3dvh;
        gap: 2dvh;
        flex-direction: column;
    } 
    
    .card {
        width: 100%;         
    }

    /* Carrosel */
    #conteinerConheca {          
        padding: 2dvh;
    }
    #conteinerParceiros {   
        padding: 2dvh;
    }
    #conteinerFinanciadores {   
        padding: 2dvh;
    }    

    .mainCarrossel section {
        height: 70%;
    }

    .section-i {
        display: none;
    }
}