* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

h1 { 
    font-size: 2vw;
}

body {
    font-family: "Nunito Sans", sans-serif;
    height: 250vh;
    width: 100%;
    background-color: white;
    display: grid;
    grid-template-rows: .5fr 12fr 1fr;
    gap: 5vh;
}

header {
    background-color: green;
}

main {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: .5fr .5fr .7fr .5fr .7fr;
}

#conteinerConheca {        
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 2.5vh;
}

#conteinerNos {
    font-size: 1.5rem;
    background-color: #E2EA9D;
    padding: 10vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
}

#conteinerNos section {
   padding: 2vh;
}

#conteinerNos h2 {
    border-left: 3px solid black;
    padding-left: 2dvh;
    margin-left: 5dvh;
    font-size: 4vw;
}

#conteinerNos p {
    text-indent: 2em; 
    line-height: 1.5; 
    margin-bottom: 1em;
    font-size: 2vw;
}

#conteinerNos ul{
    padding-left: 2em;
    font-size: 2vw;
}

#conteinerParceiros {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5dvh;
}

#conteinerProgramacao {
    background-color: white;
}

#conteinerFinanciadores {
    padding: 5dvh;
    background-color: white;
}
