#cards {
    padding: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15vh;
}

.card {
    height: 100%;
    flex: .8;
    background-color: #AD97C7;
    border-radius: 2vh;
    display: grid;
    grid-template-rows: .7fr 2fr 1fr;
}

.textCard {
    color: white;
    font-weight: bold;
    padding: 5vh;
}

.imgCard {
    padding: 5vh;
}

.imgCard div{
    background-color: gray;
    height: 100%;
    width: 100%;
}

.btnCard {
    display: flex;
    align-items: end;
    justify-content: end;
    padding: 5vh;
}

.btnCard a {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}