header {
    background-color: #4B7736;
    padding: 0vh;
    display: grid;
    grid-template-rows: 2fr 1fr;
}

header hr {
    width: 2px;
    height: 70%;
    background-color: rgb(255, 255, 255);
}

.parte_de_cima {
     gap: .5vh;
    display: flex;
    align-items: center;
    width: 100%;
}

.parte_de_baixo { 
    display: flex;
    width: 100%;
}

.parte_de_cima img {
    height: auto;
    width: 100%;
}

.parte_de_baixo  ul li a {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
}

.parte_de_baixo ul li a:hover{
    border-bottom: 2px solid white;
    transition: width 1s ease-out;
    animation: 2s;
}

.parte_de_baixo ul {
    width: 100%;
    list-style: none;
    padding: 2VH;
    display: flex;
    justify-content: space-between;
    font-size: 2vw;
}