header {
    background-color: #4B7736;
    padding: 2vh;
}

header hr {
    width: 2px;
    height: 5vw;
    background-color: rgb(255, 255, 255);
    margin-top: 5px;
}

header .parte_de_cima {
    display: flex;
    width: 1000px;
}

header .parte_de_cima img {
    height: 100px;
    margin:0px 20px 0px 20px;
}

header .parte_de_baixo  ul li a {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
}

header .parte_de_baixo ul li a:hover{
    border-bottom: 2px solid white;
    transition: width 1s ease-out;
    animation: 2s;
}

header .parte_de_baixo ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding-top: 10px;
    margin:0px 20px 0px 20px;
}