* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.iconSeta {
    margin: 1vh;
}

.carrossel{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-i {
    display: flex;
    justify-content: center;
}

.mainCarrossel {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: 100%;
    width: 100%;
}

.mainCarrossel input{
    display: none;
}


.conhecaInside {
    padding: 2vh 15vh  2vh 15vh;
    width: 90%;
    height: 100%;
    display: grid;
    grid-template-rows: 10fr 1fr;
}

.entireCarrossel {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.conhecaLeft {
    /* padding: 10dvh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1dvh;
    gap: 2dvh;
}

.conhecaLeft > h2 {
    font-size: 1.5vw;
}
.conhecaLeft > p {
    font-size: 1vw;
}

.btnCarrossel {
    color: gray;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 1dvh;
    border: none;
    font-size: 1vw;
    font: bold;
    width: 100%;
    text-align: start;
}

.btnCarrossel:hover > .btnArrow  {   
    transition: 1s initial;
    color: black;
}

.conhecaRight {
    overflow: hidden;
    /* background-color: rgb(148, 148, 148); */
}

.footCarrossel {

    /* background-color: orange; */
}

.slider {
    overflow: hidden;
    background-color: transparent;
    height: 100%;
    width: 100%;
}

.sliderWrapper {
    display: flex;
    height: 100%;
    width: 500%;
    transition: transform 0.5s ease;
    /* background-color: red; */
}

.sliderWrapper > div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
}

.sliderWrapper div > img{
    height: auto;
    width: 100%;
}

.footCarrossel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 1vh;
    gap: 3dvh;
}

.footCarrossel label {
    width: 30px;
    height: 30px;
    border: solid 1px black;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;
}

.footCarrossel label:hover {
    transition: 1s initial;
    background-color: black;
}

/*  */
.sliderWrapperSecond {
    display: flex;
    height: 100%;
    width: 300%;
    transition: transform 0.5s ease;
    padding: 2dvh;
    gap: 1vh;
    /* background-color: red; */
}

.sliderWrapperSecond > div{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    background-color: #F8F8F8;
}

.sliderWrapperSecond div > img{
    height: auto;
    width: 100%;
}



#radio1:checked ~ .slider .sliderWrapper {
    transform: translateX(0%);
}

#radio2:checked ~ .slider .sliderWrapper {
    transform: translateX(-20%);
}
#radio3:checked ~ .slider .sliderWrapper {
    transform: translateX(-40%);
}
#radio4:checked ~ .slider .sliderWrapper {
    transform: translateX(-60%);
}
#radio5:checked ~ .slider .sliderWrapper {
    transform: translateX(-80%);
}


#radio1:checked ~ .footCarrossel #label1 {
    background-color: black;
}
#radio2:checked ~ .footCarrossel #label2 {
    background-color: black;
}
#radio3:checked ~ .footCarrossel #label3 {
    background-color: black;
}
#radio4:checked ~ .footCarrossel #label4 {
    background-color: black;
}
#radio5:checked ~ .footCarrossel #label5 {
    background-color: black;
}


#radio1Cr2:checked ~ .slider .sliderWrapperSecond {
    transform: translateX(0%);
}

#radio2Cr2:checked ~ .slider .sliderWrapperSecond {
    transform: translateX(-30%);
}


#radio1Cr2:checked ~ .footCarrossel #label1Cr2 {
    background-color: black;
}
#radio2Cr2:checked ~ .footCarrossel #label2Cr2 {
    background-color: black;
}



#radio1Cr3:checked ~ .slider .sliderWrapperSecond {
    transform: translateX(0%);
}

#radio2Cr3:checked ~ .slider .sliderWrapperSecond {
    transform: translateX(-20%);
}

#radio1Cr3:checked ~ .footCarrossel #label1Cr3 {
    background-color: black;
}
#radio2Cr3:checked ~ .footCarrossel #label2Cr3 {
    background-color: black;
}